/* colors
    #FFFFFF  white
    #E4919C  violet
    #D9D9D9  gray
    #BAE1DD  sky blue
    #FFA1C4  pink
*/

.section{
    width: 100%;
}

.section_principalImg{
    padding: 0 2vh;
}

.section_divContent{
    padding: 2vh 2vh;
    width: 100%;
    color: #D9D9D9;
}
    .divContent_h2{
        font-size: calc(1.7em + 1vw);
        margin-bottom: 2vh;
        color: #E4919C;
    }
    .divContent_p{

    }
    .divSubContent{
        display: flex;
        justify-content: space-between;
    }
        .divSubContent_p{
            width: 55%;
            margin: 1vh 0;
        }
        .divSubContent_img{
            width: 40%;
        }