ul{
    list-style: none;
}


.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #114127;
    padding-top: 1rem;
}

.middle{
    background-image: url('../../images/logo.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
}


.left{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.left p{
    padding: 0.2rem 0;
}

.right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left,
.right{
    padding: 1rem 0;
}

.right i{
    margin-right: 1rem;
}

.left *,
.right *{
    text-decoration: none;
    font-size: 1.1rem;
    padding-top: 0.3rem;
    color: #edd1cf;
}

.author{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #edd1cf;
    background-color: #114127;
    padding: 2rem 0;

}


@media (max-width: 1600px){

    .middle{
        width: 30%;
    }

}


@media (max-width: 930px){
    .footer{
        flex-direction: column;
    }

    .left,
    .middle,
    .right{
        width: 100%;
    }

    .middle,
    .right{
        margin-top: 2rem;
    }

    .middle{
        height: 25vh;
        background-size: contain;
    }

    .left *,
    .right *,
    .author{
        font-size: 1.3rem;
    }
}